.container {
  width: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px 5px;
  padding: 5px;
}

.grid-item {
  background-color: rgba(212, 202, 202, 0.8);
  padding: 5px;
  font-size: 30px;
  text-align: center;
  border-radius: 4px;
}

.grid-item:hover {
  background-color: rgb(63, 141, 211);
}
